div {
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
    position: absolute;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); margin-top: 20px; }
    to { -ms-transform: rotate(360deg); margin-top: -120px; }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); margin-top: 20px; }
    to { -moz-transform: rotate(360deg); margin-top: -120px; }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); margin-top: 20px; }
    to { -webkit-transform: rotate(360deg); margin-top: -120px; }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
        margin-top: 20px;
    }
    to {
        transform:rotate(360deg);
        margin-top: -120px;
    }
}